.header{
    background-color: black;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}

.logo{
    color: white;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}